
* {
    font-family: 'Bitstream Vera Serif', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

section, div, body, html {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    overflow-y: auto;
}

body {
    background: #eee;
}

body.dark {
    background: #333;
    color: white;
}

input {
    background: transparent;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}

select {
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* border: 1px solid #888;
    border-radius: 5px; */
    border: 0;
    padding: 10px;
    cursor: pointer;
}

textarea {
    border: 1px solid #888;
    border-radius: 5px;
    background: transparent;
    word-spacing: 10px;
}

button {
    border: 1px solid #888;
    border-radius: 5px;
    background: transparent;
    padding: 10px;
    font-size: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

option {
    color: initial;
}

button.disabled {
    visibility: hidden;
}

body.dark input,
body.dark select,
body.dark textarea,
body.dark button {
    color: white;
}

body.dark input:hover,
body.dark textarea:hover,
body.dark button:hover {
    background: rgba(255,255,255,.05);
}

input:hover,
textarea:hover,
button:hover {
    background: rgba(0,0,0,.15);
}

.Header {
    margin: 20px 0 20px 0;
    height: 50px;
    display: flex;
}

/* logo */
.Header > div:nth-child(1) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
}

.Header > *:not(:nth-child(1)) {
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
}

.Header > *:not(:nth-child(1)):hover {
    background: rgba(0,0,0,.15);
}

body.dark .Header > *:not(:nth-child(1)):hover {
    background: rgba(255,255,255,.05);
}

.Header svg {
    width: 20px;
}

body.dark .Header svg path {
    fill: white;
}

/* mobile */
@media only screen and (max-width: 1000px) {
    .App {
        padding: 0 10px 0 10px;
    }

    .TestInstance .status > div:nth-child(1) {
        flex-basis: 50%;
        order: 1;
        justify-content: center;
    }

    .TestInstance .status > div:nth-child(4) {
        flex-basis: 50%;
        order: 2;
        justify-content: center;
    }

    .TestInstance .status > div:nth-child(2),
    .TestInstance .status > div:nth-child(5),
    .TestInstance .status > div:nth-child(3),
    .TestInstance .status > div:nth-child(6) {
        flex-basis: 100%;
        order: 3;
        justify-content: start;
    }
}

@media only screen and (min-width: 1000px) {
    .App {
        padding: 0 10% 0 10%;
    }

    .TestInstance .status > div:nth-child(1),
    .TestInstance .status > div:nth-child(4) {
        flex-basis: 15%;
        justify-content: center;
    }

    .TestInstance .status > div:nth-child(2),
    .TestInstance .status > div:nth-child(5) {
        flex-basis: 35%;
        justify-content: start;
    }

    .TestInstance .status > div:nth-child(3),
    .TestInstance .status > div:nth-child(6) {
        flex-basis: 50%;
        justify-content: start;
    }
}



body.dark .HelpPage svg path,
body.dark .HelpPage svg ellipse {
    stroke: white;
}

body.dark .HelpPage svg div {
    color: white !important;
}

.HelpPage h1 {
    margin-top: 100px;
}

.HelpPage .Tape  {
    padding: 10px;
}

.HelpPage {
    display: flex;
    flex-direction: column;
}

.HelpPage > p {
    margin: 30px 0 30px 0;
}

.HelpPage a {
    color: rgb(97, 97, 252);
}

.HelpPage .Input .errorMessage {
    display: none;
}

.HelpPage > section {
    margin: 10px auto 10px auto;
    background-color: #fff;
    border-radius: 5px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    max-width: 90%;
}

@media only screen and (max-width: 600px) {
    .HelpPage {
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (min-width: 600px ) {
    .HelpPage {
        margin: 0px 10% 0 10%;
    }

    .HelpPage > section {
        max-width: 100%;
        min-width: 100%;
    }
}

.MenuPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.LevelButton {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    min-width: 130px;
    max-width: 130px;
    margin: 10px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #888;
    cursor: pointer;
}

.LevelButton:hover {
    transform: scale(1.1);
}

.LevelButton.complete {
    border: 1px solid #0a0;
    color: #0a0;
}

body.dark .LevelButton.complete {
    border: 1px solid #0f0;
    color: #0f0;
}

.LevelButton > div:nth-child(1) {
    flex: 3;
    font-size: 100px;
    text-align: center;
}

.LevelButton > div:nth-child(2) {
    flex: 1;
    text-align: center;
    position: relative;
}

.LevelButton .title {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.MenuPage .tick {
    position: absolute;
    right: -10px;
    top: -30px;
    font-size: 50px;
    color: #0a0;
}

body.dark .MenuPage .tick {
    color: lightgreen;
}

.Input {
    width: 100%;
}

.Input textarea {
    width: 75%;
}

.Input table {
    margin: auto;
}

.Input tr:nth-child(even) {
    background: rgba(0,0,0,.1);
}

body.dark .Input tr:nth-child(even) {
    background: rgba(255,255,255,.05);
}

.Input td {
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.Input thead td {
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 10px;
}

.Input .navbar {
    display: flex;
    width: 100%;
    /* background: yellowgreen; */
}

.Input .navbar button {
    flex: 1;
    border-radius: 20px;
}

.Input .navbar button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Input .navbar button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.Input .navbar button.selected {
    background: rgba(0,0,0,.15);
}

body.dark .Input .navbar button.selected {
    background: rgba(255,255,255,.05);
}

body.dark .red {
    color: lightcoral;
}

.red {
    color: red;
}

body.dark .green {
    color: lime;
}

.green {
    color: #0a0;
}

.Input .tip {
    position: absolute;
    text-align: center;
    padding-top: 10px;
}

.Input .errorMessage {
    height: 70px;
}

.LevelPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LevelPage > div {
    margin: 30px auto 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    max-width: 90%;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InputManager > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.InputManager .InitialState {
    margin-bottom: 30px;
}

body.dark .LevelPage > div,
body.dark .HelpPage > section
{
    background: #444;
}

.TestManager {
    margin: 50px auto 50px auto;
    text-align: center;
}

.TestManager button {
    margin: 10px;
}

.TestInstance {
    margin: 5px auto 5px auto;
    position: relative;
    background: #fff;
    max-width: 90%;
    min-width: 90%;
    border-radius: 5px;
}

body.dark .TestInstance {
    background: #444;
}

.TestInstance > .header {
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.TestInstance > .header:hover {
    background: rgba(0,0,0,.15);
}

body.dark .TestInstance > .header:hover {
    background: rgba(255,255,255,.05);
}

.TestInstance > .header > p {
    margin: 0;
    padding: 10px;
}

.TestInstance table {
    margin: 10px auto 0 auto;
}

.Tape td {
    padding: 2px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    background: #eee;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

body.dark .Tape td {
    background: #333;
}

.Tape td:hover {
    background: rgba(0,0,0,.15);
}

body.dark .Tape td:hover {
    background: rgba(255,255,255,.05);
}

.Tape td.current {
    border: 1px solid #000 !important;
    border-radius: 5px;
}

.Tape td.previous {
    border: 1px solid #888;
    border-radius: 5px;
}

body.dark .Tape td.current {
    border: 1px solid #fff !important;
}


.TestInstance .status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.TestInstance .status > div {
    height: 50px;
    display: flex;
    align-items: center;
}


.TestInstance .status button {
    width: 90%;
}

.TestInstance .status button:hover {
    background: rgba(0,0,0,.15);
}

body.dark .TestInstance .status button:hover {
    background: rgba(255,255,255,.05);
}

.TestInstance .status > div > span:nth-child(1) {
    color: #888;
}

.TestInstance .status > div > span {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.TestInstance .status > div:nth-child(2) > span:nth-child(2),
.TestInstance .status > div:nth-child(3) > span:nth-child(2) {
    font-family: monospace;
    font-size: 15px;
    word-spacing: 5px;
}

.TestInstance:nth-last-child(1) {
    margin-bottom: 100px;
}

.ScrollToTop {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-radius: 100%;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 10px;
}



.Credits {
    margin: 150px 0 50px 0;
    display: flex;
    justify-content: center;
}